@model PlanoDeAcao.Models.ViewModels.ClienteFormViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Visita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Visita.Id" />
            <div class="form-group">
                <label asp-for="Visita.DataVisita" class="control-label"></label>
                <input asp-for="Visita.DataVisita" class="form-control" />
                <span asp-validation-for="Visita.DataVisita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visita.Status" class="control-label"></label>
                <select asp-for="Visita.Status" class="form-control"></select>
                <span asp-validation-for="Visita.Status" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="Visita.ClienteId" class="control-label"></label>
                <select asp-for="Visita.ClienteId" asp-items="@(new SelectList(Model.Clientes,"Id",
                "Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

